// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

// Variables propias

$buttonHome-color: #9DA7CB ;
$buttonSubjects-color: #91B9C1 ;
$buttonCalendar-color: #AB9DCC ;

@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin yotelopaso {
	@include valo; 

	/* Insert your theme rules here */
	.v-ui {
	
	}
	/*#rober {background:yellow}*/
	
	.v-horizontal > .v-spacing {
		width: 50px;
		background: blue;
		
	}
	.v-vertical > .v-spacing {
		height: 30px;
	}
	.v-button-caption {
	}
	
	/*#acceder {margin-left: 90%}*/
	
	#acceder {
		text-align: right;
	}
	
	#layoutAcceder {
		background: #75507b;
		}
		
	#bien {	
		/*font-size: 50pt !important;*/ 
		text-align: center;
	}
	
	#vl1{
		margin-right: 50px;
		}
		
	#vl3{
		margin-left: 50px;
		}
		
	.v-label {
		/*background: white;
		color: black;
		/*font-size: 40pt;
		line-height: 28pt;*/
		padding: 3px;
	}
	
	div.v-slot-panelLink .v-button:after {
		border: none;
	}
	
	div.v-slot-panelLink .v-button-link:hover {
		color: #CECDD2;
	}
	
	div.v-slot-panelLink .panelLink {
		border-left-width: 3pt;
		border-left-style: solid;
		color: #FAFAFA;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 0px;
		text-align: center;
	}
	
	.panelLink .v-icon {
		font-size: 36pt;
		/*display: block;*/
		text-align: center;
	}
	
	/* no se por que no funca*/
	div.v-slot-subjectNews > div.v-label-subjectNews {
		font-size: 8pt;
		color: red !important;
	}
	
	.v-panel-content { 
	}
	
	#menu-panel {
		background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3d3d3dff&noise=6e6e6e&density=34&opacity=17');
	}
	
	#buttonHome {
		border-left-color: $buttonHome-color;
	}
	
	#buttonHome:hover {
		color: $buttonHome-color;
	}
	
	#buttonSubjects {
		border-left-color: $buttonSubjects-color;
	}
	#buttonSubjects:hover {
		color: $buttonSubjects-color;
	}
	
	#buttonCalendar {
		border-left-color: $buttonCalendar-color;
	}
	#buttonCalendar:hover {
		color: $buttonCalendar-color;
	}
	
	#buttonActivity {
		border-left-color: red;
	}
	
	#NewsH {
		font-size: 9pt;
	}
	
	#EventsH {
		font-size: 9pt;
	}
	
	#FilesH {
		font-size: 9pt;
	}
	
	div.v-slot.v-slot-primary.v-align-middle{
	height : 130%;
	}
	
	/*layout boton para subir.. */
	#Apuntes{
	margin-top: 1%;
	}
	#Tps{
	margin-top: 1%;
	}
	#Finales{
	margin-top: 1%;
	}
	#Parciales{
	margin-top: 1%;
	}
	
	.table-selectable {
		.v-table-row { 
			cursor: pointer;
			cursor: hand;
		}
		.v-table-row-odd {
			cursor: pointer;
			cursor: hand;
		}
	}
	
	.v-window-header {
		font-weight: bold;
	}
	
		.dashboard .v-menubar {
		position: relative;
		text-align: center;
		white-space: nowrap;
		outline: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		cursor: pointer;
		height: 37px;
		padding: 0 16px;
		color: #191919;
		font-weight: 400;
		
		cursor: default;
		border-radius: 4px;
		border: 1px solid #c5c5c5;
		border-top-color: #c5c5c5;
		border-bottom-color: #bcbcbc;
		background-color: #fafafa;
		background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
		background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
		-webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
		padding: 0;
		text-align: left;
		line-height: 35px;
	}
	
	
	.dashboard .v-menubar:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;
		-webkit-transition: box-shadow 180ms, border 180ms;
		-moz-transition: box-shadow 180ms, border 180ms;
		transition: box-shadow 180ms, border 180ms;
	}
	
	.dashboard .v-menubar:focus:after {
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	
	.dashboard .v-menubar.v-disabled {
		opacity: 0.5;
		filter: alpha(opacity=50) ;
	}
	
	.dashboard .v-menubar.v-disabled:after {
		display: none;
	}
	
	.dashboard .v-menubar:after {
		border: inherit;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
	}
	
	.dashboard .v-menubar:focus:after {
		border-color: #197de1;
		-webkit-box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
		box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
	}
	
	.dashboard .v-menubar  > .v-menubar-menuitem {
		padding: 0 14px;
	}
	
	.dashboard .v-menubar  > .v-menubar-menuitem[class*="-icon-only"] {
		width: 37px;
	}
	
	.dashboard .v-menubar:active:after {
		background: transparent;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem {
		position: relative;
		z-index: 1;
		display: inline-block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 37px;
		padding: 0 15px;
		color: inherit;
		font-weight: 400;
		
		cursor: pointer;
		border-radius: 0;
		border: 1px solid #c5c5c5;
		border-top-color: #c5c5c5;
		border-bottom-color: #bcbcbc;
		background-color: #fafafa;
		background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
		background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
		-webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7;
		box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7;
		background: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-width: 0 1px 0 0;
		border-color: inherit;
		height: 100%;
		line-height: inherit;
		vertical-align: top;
		text-align: center;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem:first-child {
		border-left-width: 0;
		border-radius: 3px 0 0 3px;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem:last-child {
		border-radius: 0 3px 3px 0;
		border-right-width: 0;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem:first-child:last-child {
		border-radius: 3px;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem:hover {
		zoom: 1;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem:hover:before {
		background-color: rgba(186, 186, 186, 0.1);
		border: none;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem:active:before {
		background-color: rgba(125, 125, 125, 0.2);
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem .v-icon {
		margin: 0 4px 0 -4px;
		cursor: inherit;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem[class*="-icon-only"] {
		width: 37px;
		padding: 0;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem[class*="-icon-only"] .v-icon {
		margin: 0;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem-checked {
		-webkit-box-shadow: none;
		box-shadow: none;
		background-color: #ededed;
		background-image: -webkit-linear-gradient(bottom, #ededed 2%, #e9e9e9 98%);
		background-image: linear-gradient(to top,#ededed 2%, #e9e9e9 98%);
		color: #181818;
	}
	
	.dashboard .v-disabled > .v-menubar-menuitem, .dashboard .v-menubar > .v-menubar-menuitem-disabled {
		cursor: default;
	}
	
	.dashboard .v-disabled > .v-menubar-menuitem:before, .dashboard .v-menubar > .v-menubar-menuitem-disabled:before {
		display: none;
	}
	
	.dashboard .v-menubar-menuitem-disabled {
		opacity: 0.5;
		filter: alpha(opacity=50) ;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem-selected {
		color: #ecf2f8;
		
		
		
		border-radius: 0;
		border: 1px solid #1362b1;
		border-top-color: #156ab3;
		border-bottom-color: #1156a8;
		background-color: #197de1;
		background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
		background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
		-webkit-box-shadow: inset 0 1px 0 #4d98e6, inset 0 -1px 0 #166bca;
		box-shadow: inset 0 1px 0 #4d98e6, inset 0 -1px 0 #166bca;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
		border-top-width: 0;
		border-left-width: 0;
		border-bottom-width: 0;
		z-index: 2;
	}
	
	.dashboard .v-menubar > .v-menubar-menuitem-selected:hover:before {
		background: none;
	}
	
	.dashboard .v-menubar .v-menubar-submenu-indicator {
		display: none;
	}
	
	.dashboard .v-menubar .v-menubar-submenu-indicator  + .v-menubar-menuitem-caption:after {
		font-family: FontAwesome;
		content: "\f078";
		font-size: 0.7em;
		vertical-align: 0.15em;
		margin: 0 -0.2em 0 0.5em;
		opacity: 0.5;
	}
	
	.dashboard .v-menubar .v-menubar-submenu-indicator  + .v-menubar-menuitem-caption:empty:after {
		margin-left: -0.2em;
	}
	
	.dashboard .v-menubar-popup {
		padding: 4px 4px;
		border-radius: 4px;
		background-color: white;
		color: #474747;
		-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		padding: 4px 4px;
		margin: 5px 0 0 1px !important;
	}
	
	.dashboard .v-menubar-popup[class*="animate-in"] {
		-webkit-animation: valo-overlay-animate-in 120ms;
		-moz-animation: valo-overlay-animate-in 120ms;
		animation: valo-overlay-animate-in 120ms;
	}
	
	.dashboard .v-menubar-popup[class*="animate-out"] {
		-webkit-animation: valo-animate-out-fade 120ms;
		-moz-animation: valo-animate-out-fade 120ms;
		animation: valo-animate-out-fade 120ms;
	}
	
	.dashboard .v-menubar-popup .v-menubar-submenu {
		outline: none;
	}
	
	.dashboard .v-menubar-popup .v-menubar-menuitem {
		display: block;
		cursor: pointer;
		line-height: 27px;
		padding: 0 20px 0 10px;
		border-radius: 3px;
		font-weight: 400;
		white-space: nowrap;
		color:black;
		position: relative;
		padding-left: 32px;
		padding-right: 37px;
		position: relative;
	}
	
	.dashboard .v-menubar-popup .v-menubar-menuitem:active:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #0957a6;
		opacity: 0.15;
		filter: alpha(opacity=15.0) ;
		pointer-events: none;
		border-radius: inherit;
	}
	
	.dashboard .v-menubar-popup .v-menubar-menuitem .v-icon {
		max-height: 27px;
		margin-right: 5px;
		min-width: 1em;
	}
	
	.dashboard .v-menubar-popup .v-menubar-submenu-indicator {
		display: none;
	}
	
	.dashboard .v-menubar-popup .v-menubar-submenu-indicator  + .v-menubar-menuitem-caption:after {
		position: absolute;
		right: 10px;
		font-family: FontAwesome;
		content: "\f054";
		line-height: 29px;
	}
	
	.dashboard .v-menubar-popup .v-menubar-menuitem-selected {
		background-color: #197de1;
		background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
		background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
		color: #ecf2f8;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
	}
	
	.dashboard .v-menubar-popup .v-menubar-separator {
		display: block;
		margin: 4px 0;
		height: 0;
		overflow: hidden;
		border-bottom: 1px solid #e4e4e4;
	}
	
	.dashboard .v-menubar-popup [class*="checked"] .v-menubar-menuitem-caption:before {
		content: "\f00c";
		font-family: FontAwesome;
		position: absolute;
		left: 10px;
	}
	
	.dashboard .v-menubar-popup [class*="unchecked"] .v-menubar-menuitem-caption:before {
		content: "";
	}
	
	.dashboard .v-menubar-popup [class*="disabled"] {
		cursor: default;
	}
	
	.dashboard .v-menubar-small {
		height: 31px;
		padding: 0 14px;
		
		font-weight: 400;
		
		cursor: default;
		border-radius: 4px;
		padding: 0;
		text-align: left;
		line-height: 29px;
		font-size: 14px;
	}
	
	.dashboard .v-menubar-small:after {
		border: inherit;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
	}
	
	.dashboard .v-menubar-small  > .v-menubar-menuitem {
		padding: 0 12px;
	}
	
	.dashboard .v-menubar-small  > .v-menubar-menuitem[class*="-icon-only"] {
		width: 31px;
	}
	
	.dashboard .v-menubar-borderless {
		border: none;
		border-radius: 0;
		padding: 1px;
		-webkit-box-shadow: none;
		box-shadow: none;
		text-shadow: none;
		background: transparent;
		color: inherit;
	}
	
	.dashboard .v-menubar-borderless:focus:after {
		display: none;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem {
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		margin-right: 1px;
		border-radius: 4px;
		color: #197de1;
		padding: 0 12px;
		-webkit-transition: color 140ms;
		-moz-transition: color 140ms;
		transition: color 140ms;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem:first-child, .dashboard .v-menubar-borderless .v-menubar-menuitem:last-child, .dashboard .v-menubar-borderless .v-menubar-menuitem:first-child:last-child {
		border-radius: 4px;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem:before {
		content: none;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem:hover {
		color: #4396ea;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem:active {
		color: inherit;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem-checked, .dashboard .v-menubar-borderless .v-menubar-menuitem-checked:first-child {
		border: 1px solid #c5c5c5;
		color: #197de1;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem-checked .v-menubar-menuitem-caption, .dashboard .v-menubar-borderless .v-menubar-menuitem-checked:first-child .v-menubar-menuitem-caption {
		position: relative;
		top: -1px;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem-selected {
		color: #ecf2f8;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem-selected:hover {
		color: #ecf2f8;
	}
	
	.dashboard .v-menubar-borderless .v-menubar-menuitem-disabled, .dashboard .v-menubar-borderless .v-menubar-menuitem-disabled:hover {
		color: inherit;
	}
	
	.user-test .valo-menu-title {
		line-height: 1.2;
		/* background-color: #4783eb; */
		/* background-image: -webkit-linear-gradient(top, #4986eb 2%, #427de6 98%); */
		background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3d3d3dff&noise=6e6e6e&density=34&opacity=17');
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
		padding: 12px 19px;
		font-size: 20px;	
		border-bottom-width: 0;
	}
	
	.user-test .v-menubar-user-menu {
		border: none;
		border-radius: 0;
		padding: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		text-shadow: none;
		background: transparent;
		color: inherit;
		margin: 0px 0px;
		display: block;
		overflow: hidden;
		text-align: center;
		height: auto;
		font-weight: bold;
		line-height:0;
		color: rgb(157, 157, 157);
	}
	
	.user-test .v-menubar-user-menu  > .v-menubar-menuitem {
		color: inherit;
		white-space: normal;
		line-height: 1;
		font-weight:bold;
		margin: 0;
	}
		
	.user-test .v-panel-caption-user-test {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 12px;
		line-height: 36px;
		border-bottom: none;
		margin-bottom: 1px;
		background-color: #5c5f66;
		background-image: -webkit-linear-gradient(top, #000000 2%, #5a5d64 98%);
		background-image: linear-gradient(to bottom,#000000 2%, #5a5d64 98%);
		color: #E0E0E0;
		font-weight: bold;
		font-size: 14px;
		-webkit-box-shadow: inset 0 1px 0 #747474, 0 0 0 1px #505359;
		box-shadow: inset 0 1px 0 #747474, 0 0 0 1px #505359;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
	}
	
	
	.user-test .v-tree-node-caption-user-test {
		font-size: 19px;
		height: 25px;
		line-height: 22px;
		overflow: hidden;
		white-space: nowrap;
		vertical-align: top;
	}
	
	.user-test .v-caption-user-test {
		font-size: 22px;
		font-weight: bold;
	}
	
	.user-test .v-label-user-test {
		font-size: 22px;
	}
	
}

