/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin vaadintest01 {
	@include valo; 

	/* Insert your theme rules here */
}

.v-ui {
	
}
/*#rober {background:yellow}*/

.v-horizontal > .v-spacing {
	width: 50px;
	background: blue;
	
}
.v-vertical > .v-spacing {
	height: 30px;
}
.v-button-caption {
}

/*#acceder {margin-left: 90%}*/

#acceder {
	text-align: right;
}

#layoutAcceder {
	background: #75507b;
	}
	
#bien {	
	/*font-size: 50pt !important;*/ 
	text-align: center;
}

#vl1{
	margin-right: 50px;
	}
	
#vl3{
	margin-left: 50px;
	}
	
.v-label {
	/*background: white;
	color: black;
	/*font-size: 40pt;
	line-height: 28pt;*/
	padding: 3px;
}

div.v-slot-panelLink .v-button:after {
	border: none;
}

div.v-slot-panelLink .v-button-link:hover {
	color: #CECDD2;
}

div.v-slot-panelLink .panelLink {
	border-left-width: 3pt;
	border-left-style: solid;
	color: #FAFAFA;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 0px;
	text-align: center;
}

.panelLink .v-icon {
	font-size: 36pt;
	/*display: block;*/
	text-align: center;
}

/* no se por que no funca*/
div.v-slot-subjectNews > div.v-label-subjectNews {
	font-size: 8pt;
	color: red !important;
}

.v-panel-content { 
}

#menu-panel {
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3d3d3dff&noise=6e6e6e&density=34&opacity=17');
}

#buttonHome {
	border-left-color: yellow;
	/*a:hover {
	}*/
}

#buttonSubjects {
	border-left-color: blue;
}

#buttonCalendar {
	border-left-color: green;
}

#buttonActivity {
	border-left-color: red;
}

#NewsH {
	font-size: 9pt;
}

#EventsH {
	font-size: 9pt;
}

#FilesH {
	font-size: 9pt;
}

#NuevaNoticia{
 font-size : 17px;
 }
 
 div.v-slot.v-slot-primary.v-align-middle{
 height : 130%;
 }