/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin vaadintest01 {
	@include valo; 

	/* Insert your theme rules here */
}

.v-ui {
	
}
/*#rober {background:yellow}*/
.v-horizontal > .v-spacing {
	width: 50px;
	background: blue;
	
}
.v-vertical > .v-spacing {
	height: 30px;
}
.v-button-caption {
}

/*#acceder {margin-left: 90%}*/

#acceder {
	text-align: right;
}

#layoutAcceder {
	background: #75507b;
	}
	
#bien {	
	/*font-size: 50pt !important;*/ 
	text-align: center;
}
	
.v-label {
	/*background: white;
	color: black;
	/*font-size: 40pt;
	line-height: 28pt;*/
	padding: 3px;
}

.v-button {
	margin: 10px;
}