/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin vaadintest01 {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
}
.v-horizontal > .v-spacing {
    width: 50px;
}
.v-vertical > .v-spacing {
    height: 30px;
}
.v-button-caption {
  color: blue;
}
  /* White background for the entire UI */
  .v-ui {
    background: white;
  }
  
  /* All labels have white text on black background */
  .v-label {
    background: black;
    color: white;
    font-size: 24pt;
    line-height: 24pt;
    padding: 5px;
  }

  /* All buttons have blue caption and some margin */
  .v-button {
    margin: 10px;

    /* A nested selector to increase specificity */
    .v-button-caption {
      color: blue;
    }
  }
}